@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-;
}

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

/* light mode - buttons */
.btn-sky{
    @apply bg-sky-800 text-white hover:bg-neutral-100 hover:text-neutral-900;
}

.btn-white{
    @apply bg-white text-black hover:bg-neutral-800 hover:text-white;
}

/* dark mode - buttons */
.btn-dark{
    @apply bg-sky-800 text-white hover:bg-neutral-800 hover:text-white dark:hover:bg-white dark:hover:text-black focus:ring-neutral-800;
}

svg:hover {
    fill: rgb(28, 197, 231);
}

.house-small-img img{
    height: 100px;
    width: 100px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
    
}

.house-small-img {
    float: left;

}
.house-small-img img:hover{
    opacity: 1;

}

.house-img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    position: relative;

}

.img-container img{
    height: 500px;
    
}

.img-container {
    float: right;
    padding: 10px;
}

div.rating {
    display: inline-block;
}
  
input.rating {
    display: none;
}
